@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Antonio';
  src: url(../assets/fonts/antonio.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mercury: rgb(65, 158, 187);
  --venus: rgb(247, 204, 127);
  --earth: rgb(84, 91, 254);
  --mars: rgb(255, 106, 69);
  --jupiter: rgb(236, 173, 122);
  --saturn: rgb(252, 203, 107);
  --uranus: rgb(101, 240, 213);
  --neptune: rgb(73, 126, 250);
}
body {
  background-color: #070724;
  background-image: url(./assets/images/background-stars.svg);
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Antonio', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav {
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  letter-spacing: -1px;
  font-size: 28px;
  font-weight: 400;
}

.head-options-container {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.head-options {
  padding-top: 24px;
  display: grid;
  height: 100%;

  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.head-option {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}
.head-option p {
  opacity: 0.5;
}
.underline.active {
  height: 4px;
  width: 80px;
  background-color: rgb(65, 158, 187);
}
.links {
  display: none;
}
.links li a {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.planet-image {
  width: 111px;
  height: 111px;
  margin: 95px;
}
.planet-name {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.planet-description {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
  margin: 24px 0;
  font-family: 'League Spartan', sans-serif;
}
.source-container {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
  font-family: League Spartan;
  font-size: 13px;
  font-weight: 400;
}
.source-container a {
  color: #fff;
  text-decoration: underline;
}
.planet-info-conainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.planet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.planet-info-title {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  nav {
    flex-direction: column;
  }
  .links {
    display: flex;
    gap: 20px;
    padding: 1.5rem 0;
  }
  .links li a {
    font-size: 12px;
    width: 50px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
  }
  .hamburger-button {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .links {
    padding: 0;
  }
  nav {
    flex-direction: row;
    padding: 0 24px;
    padding-bottom: 24px;
    align-items: center;
  }
  .link {
    display: flex;
    flex-direction: column;
  }

  .link-top-line {
    height: 4px;
    margin-bottom: 30px;
    background: var(--mercury);
    opacity: 0;
    width: 100%;
  }
  .link-top-line.active {
    opacity: 1;
  }
  .logo {
    margin-top: 12px;
  }
}
